In [ ]:
from sqlalchemy import create_engine, Column, Integer, String, Sequence

Requirement already satisfied: sqlalchemy in /opt/homebrew/lib/python3.10/site-packages (2.0.41)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/ethanedwards/Library/Python/3.10/lib/python/site-packages (from sqlalchemy) (4.14.0)
Note: you may need to restart the kernel to use updated packages.
Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp310-cp310-macosx_14_0_arm64.whl.metadata (4.9 kB)
Using cached psycopg2_binary-2.9.10-cp310-cp310-macosx_14_0_arm64.whl (3.3 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [9]:
engine = create_engine("postgresql+psycopg2://sy91dhb:g5t49ao@178.156.142.230:5432/hd64m1ki")
connection = engine.connect()

In [14]:
import pandas as pd

In [16]:
df = pd.read_sql_query("SELECT * FROM information_schema.tables;", connection)
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,hd64m1ki,hacker_news,items,BASE TABLE,None,None,None,None,None,YES,NO,None
1,hd64m1ki,hacker_news,users,BASE TABLE,None,None,None,None,None,YES,NO,None
2,hd64m1ki,hacker_news,items_by_month,BASE TABLE,None,None,None,None,None,YES,NO,None
3,hd64m1ki,hacker_news,items_by_month_2006_10,BASE TABLE,None,None,None,None,None,YES,NO,None
4,hd64m1ki,hacker_news,items_by_month_2006_12,BASE TABLE,None,None,None,None,None,YES,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
426,hd64m1ki,hacker_news,items_by_year_2021,BASE TABLE,None,None,None,None,None,YES,NO,None
427,hd64m1ki,hacker_news,items_by_year_2023,BASE TABLE,None,None,None,None,None,YES,NO,None
428,hd64m1ki,hacker_news,items_by_year_2022,BASE TABLE,None,None,None,None,None,YES,NO,None
429,hd64m1ki,hacker_news,items_by_year_2024,BASE TABLE,None,None,None,None,None,YES,NO,None
430,hd64m1ki,hacker_news,items_by_year_YYYY,BASE TABLE,None,None,None,None,None,YES,NO,None