In [12]:
import os

# import matplotlib.pyplot as plt
import pandas as pd
# import seaborn as sns
from sqlalchemy import create_engine

DB_PROTOCOL = "postgresql+psycopg2://"
DB_URL = "sy91dhb:{}@178.156.142.230:5432/hd64m1ki"
DB_PASS = os.environ.get("PG_PASSWORD")

engine = create_engine(DB_PROTOCOL + DB_URL.format(DB_PASS))
engine

Engine(postgresql+psycopg2://sy91dhb:***@178.156.142.230:5432/hd64m1ki)

In [6]:
# entries seem to be either 'story' or 'comment' - lets look at stories first
stories_df = pd.read_sql("SELECT * FROM hacker_news.items WHERE type='story' LIMIT 100", engine)
stories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           100 non-null    int64
 1   dead         15 non-null     object
 2   type         100 non-null    object
 3   by           99 non-null     object
 4   time         100 non-null    datetime64[ns]
 5   text         7 non-null      object
 6   parent       0 non-null      object
 7   kids         32 non-null     object
 8   url          93 non-null     object
 9   score        99 non-null     float64
 10  title        99 non-null     object
 11  descendants  84 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 9.5+ KB

In [7]:
stories_df.describe()

                 id                           time       score  descendants
count  1.000000e+02                            100   99.000000    84.000000
mean   2.191484e+07  2019-11-16 00:47:46.170000384   13.565657    10.178571
min    1.505307e+06            2010-07-11 11:28:14    0.000000     0.000000
25%    2.122328e+07  2019-10-11 21:22:04.750000128    1.000000     0.000000
50%    2.274389e+07            2020-04-01 00:24:41    2.000000     0.000000
75%    2.376991e+07     2020-07-08 01:43:10.500000    3.000000     1.000000
max    2.540008e+07            2020-12-12 17:55:50  256.000000   265.000000
std    3.892626e+06                            NaN   38.724343    37.413727

In [8]:
stories_df.head()

,id,dead,type,by,time,text,parent,kids,url,score,title,descendants
0,23708779,None,story,sohkamyung,2020-07-02 01:56:54,None,None,"[23709456, 23710625, 23712687, 23712680, 23710...",https://www.nature.com/articles/d41586-020-019...,93.0,Quantum fluctuations have been shown to affect...,25.0
1,1505307,None,story,biehl,2010-07-11 11:28:14,,None,None,http://blogs.gnome.org/johan/2010/07/08/using-...,0.0,Using LLVM to speed up function invocation in ...,0.0
2,1505308,None,story,Gianteye,2010-07-11 11:31:12,Do you know of companies that are solving prob...,None,None,None,2.0,Creative Engineering Companies?,0.0
3,1505310,None,story,Tichy,2010-07-11 11:32:12,Yesterday I went shopping for a music box for ...,None,[1505388],None,2.0,Ask HN: what do you think about dangerous addi...,1.0
4,24451726,None,story,maydemir,2020-09-12 12:43:29,None,None,None,https://twitter.com/_screpy/status/13033610743...,2.0,Annual revenue of Google from 2009 to 2019,0.0

In [9]:
# we can verify some things about this slice of the data e.g. that most entries have titles
stories_df['title'].isnull().sum()

np.int64(1)

In [10]:
# lets look at the distribution of scores
stories_df['score'].describe()
# notice that the mean is very low, and quartiles even lower, but the max is very high (i.e. long tail distribution)

count     99.000000
mean      13.565657
std       38.724343
min        0.000000
25%        1.000000
50%        2.000000
75%        3.000000
max      256.000000
Name: score, dtype: float64