In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sqlalchemy import create_engine

DB_PROTOCOL = "postgresql+psycopg2://"
DB_URL = "sy91dhb:g5t49ao@178.156.142.230:5432/hd64m1ki"

engine = create_engine(DB_PROTOCOL + DB_URL)
engine

Engine(postgresql+psycopg2://sy91dhb:***@178.156.142.230:5432/hd64m1ki)

In [ ]:
# entries seem to be either 'story' or 'comment' - lets look at stories first
stories_df = pd.read_sql("SELECT * FROM hacker_news.items WHERE type='story' LIMIT 100", engine)
stories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           100 non-null    int64
 1   dead         18 non-null     object
 2   type         100 non-null    object
 3   by           95 non-null     object
 4   time         100 non-null    datetime64[ns]
 5   text         5 non-null      object
 6   parent       0 non-null      object
 7   kids         19 non-null     object
 8   url          90 non-null     object
 9   score        95 non-null     float64
 10  title        95 non-null     object
 11  descendants  77 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(8)
memory usage: 9.5+ KB

In [28]:
stories_df.describe()

                 id                        time       score  descendants
count  1.000000e+02                         100   95.000000    77.000000
mean   1.450768e+07  2017-06-03 16:53:41.800000    9.578947     5.246753
min    8.699716e+06         2014-12-04 15:36:47    1.000000     0.000000
25%    1.351935e+07  2017-01-30 07:52:01.500000    1.000000     0.000000
50%    1.446921e+07  2017-06-02 12:57:12.500000    2.000000     0.000000
75%    1.566838e+07         2017-11-10 06:44:59    3.000000     0.000000
max    1.765405e+07         2018-07-31 16:34:48  387.000000   175.000000
std    1.839324e+06                         NaN   42.055328    23.367857

In [31]:
stories_df.head()

,id,dead,type,by,time,text,parent,kids,url,score,title,descendants
0,15019110,True,story,striletskyy,2017-08-15 16:27:36,None,None,None,https://goo.gl/G2wcsU,1.0,Planning an On-Demand App for Childcare: Trend...,NaN
1,15019119,None,story,rubatuga,2017-08-15 16:28:05,None,None,None,https://beta.theglobeandmail.com/opinion/codin...,4.0,Coding for kids: another silly fad,0.0
2,16317492,True,story,devgutt,2018-02-06 16:53:15,None,None,None,https://aws.amazon.com/blogs/compute/resize-im...,1.0,"Resize Images on the Fly with Amazon S3, AWS L...",NaN
3,16317498,None,story,noch,2018-02-06 16:54:28,None,None,None,http://blog.ezyang.com/2011/04/tracing-the-com...,1.0,Tracing the compilation of Hello Factorial,0.0
4,16317499,None,story,vuln,2018-02-06 16:54:51,None,None,None,https://github.com/jedisct1/dnscrypt-proxy,3.0,Dnscrypt-proxy 2.0.0 released,0.0

In [35]:
# we can verify some things about this slice of the data
stories_df['title'].isnull().sum()  # no null titles

np.int64(5)