In [2]:
%pip install sqlalchemy pandas matplotlib psycopg2-binary
from sqlalchemy import create_engine, Column, Integer, String, Sequence
import pandas as pd
from matplotlib import pyplot as plt

Requirement already satisfied: sqlalchemy in /opt/homebrew/lib/python3.10/site-packages (2.0.41)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (2.3.0)
Requirement already satisfied: matplotlib in /opt/homebrew/lib/python3.10/site-packages (3.10.3)
Requirement already satisfied: psycopg2-binary in /opt/homebrew/lib/python3.10/site-packages (2.9.10)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/ethanedwards/Library/Python/3.10/lib/python/site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: numpy>=1.22.4 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ethanedwards/Library/Python/3.10/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (4.58.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /Users/ethanedwards/Library/Python/3.10/lib/python/site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.10/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in /Users/ethanedwards/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:

engine = create_engine("postgresql+psycopg2://sy91dhb:g5t49ao@178.156.142.230:5432/hd64m1ki")

In [4]:
connection = engine.connect()
df = pd.read_sql_query("SELECT * FROM information_schema.tables;", connection)
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,hd64m1ki,hacker_news,items,BASE TABLE,None,None,None,None,None,YES,NO,None
1,hd64m1ki,hacker_news,users,BASE TABLE,None,None,None,None,None,YES,NO,None
2,hd64m1ki,hacker_news,items_by_month,BASE TABLE,None,None,None,None,None,YES,NO,None
3,hd64m1ki,hacker_news,items_by_month_2006_10,BASE TABLE,None,None,None,None,None,YES,NO,None
4,hd64m1ki,hacker_news,items_by_month_2006_12,BASE TABLE,None,None,None,None,None,YES,NO,None
...,...,...,...,...,...,...,...,...,...,...,...,...
426,hd64m1ki,hacker_news,items_by_year_2021,BASE TABLE,None,None,None,None,None,YES,NO,None
427,hd64m1ki,hacker_news,items_by_year_2023,BASE TABLE,None,None,None,None,None,YES,NO,None
428,hd64m1ki,hacker_news,items_by_year_2022,BASE TABLE,None,None,None,None,None,YES,NO,None
429,hd64m1ki,hacker_news,items_by_year_2024,BASE TABLE,None,None,None,None,None,YES,NO,None
430,hd64m1ki,hacker_news,items_by_year_YYYY,BASE TABLE,None,None,None,None,None,YES,NO,None

In [5]:
df['table_schema'].unique()

array(['hacker_news', 'pg_catalog', 'information_schema'], dtype=object)

In [6]:
connection = engine.connect()
trans = connection.begin()
try:
    df_items_2006 = pd.read_sql_query("SELECT * FROM hacker_news.items_by_year_2006", connection)
    trans.commit()
except Exception as e:
    trans.rollback()
    raise e

In [7]:
df_items_2006

,id,dead,type,by,time,text,parent,kids,url,score,title,descendants
0,1,None,story,pg,2006-10-09 19:21:51,None,NaN,"[15, 234509, 487171, 82729]",http://ycombinator.com,57.0,Y Combinator,15.0
1,2,None,story,phyllis,2006-10-09 19:30:28,None,NaN,None,http://www.paulgraham.com/mit.html,16.0,A Student's Guide to Startups,0.0
2,3,None,story,phyllis,2006-10-09 19:40:33,None,NaN,[531602],http://www.foundersatwork.com/stevewozniak.html,7.0,Woz Interview: the early days of Apple,0.0
3,4,None,story,onebeerdave,2006-10-09 19:47:42,None,NaN,None,http://avc.blogs.com/a_vc/2006/10/the_nyc_deve...,5.0,NYC Developer Dilemma,0.0
4,5,None,story,perler,2006-10-09 19:51:04,None,NaN,None,http://www.techcrunch.com/2006/10/09/google-yo...,7.0,"Google, YouTube acquisition announcement could...",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,58,None,story,frobnicate,2006-10-15 23:48:30,None,NaN,None,http://www.nytimes.com/2006/10/15/business/you...,7.0,NYT: How Friendster Blew It,0.0
58,59,None,story,gaborcselle,2006-10-17 09:32:33,None,NaN,None,http://www.nytimes.com/2006/10/17/technology/1...,3.0,NYT on the network of ex-PayPal employees in S...,0.0
59,60,True,story,zak,2006-10-21 05:56:50,None,NaN,None,None,2.0,None,NaN
60,61,None,story,goldfish,2006-10-22 19:29:55,None,NaN,None,http://www.nytimes.com/2006/10/22/business/you...,2.0,VCs Prefer to Fund Nearby Firms - New York Times,0.0
61,62,None,story,pg,2006-12-14 16:12:10,None,NaN,None,http://rura.org/blog/2006/12/13/productivity-s...,3.0,Productivity Surges During Reddit Downtime,0.0

In [8]:
connection = engine.connect()
trans = connection.begin()
try:
    users = pd.read_sql_query("SELECT * FROM hacker_news.users LIMIT 1000", connection)
    trans.commit()
except Exception as e:
    trans.rollback()
    raise e

In [9]:
users

,id,created,karma,about,submitted
0,_------------_,2018-10-30 22:25:25,5,None,"[18723436, 18710285, 18341881]"
1,_-----_,2022-12-07 19:45:14,38,None,"[34353215, 34346450, 34314090, 34277524, 34262..."
2,_--,2016-08-27 21:06:13,-1,None,"[12390950, 12390899, 12373932]"
3,_---____--_--,2022-03-17 12:35:53,6,None,[30710444]
4,_--_,2014-08-02 11:52:04,-7,None,"[10919437, 8668545, 8349770, 8335037]"
...,...,...,...,...,...
995,09964295544,2018-07-25 16:42:43,1,None,[17610119]
996,09979771717,2018-06-02 08:22:42,1,None,[17213257]
997,099812477,2018-11-05 09:11:16,14,None,"[20439765, 20327751, 20326486, 20292443, 20183..."
998,09983402,2016-07-23 21:58:30,-3,None,[12150982]
999,09asdf0asdf,2021-07-19 19:17:19,2,None,[27885706]